#datasetDropDownList
{
    font-size: 30px;
    margin: 0 auto;    
    height: 5em;
    font: 1.2em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color:#08233e;
}

#datasetDisplayTable
{
    width: 100%;
    height: 80%;
    border-collapse:collapse;
    background-color: FloralWhite;
    font:1.2em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#variablesDiv
{
    text-align: center;
}

.variableList
{
    border-collapse: collapse; 
    padding: 10px;
    background-color: LightYellow;
    color: black;
    table-layout: fixed;
    font:1.0em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

th
{
    background-color: DarkSlateGray;
    font:1.2em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 15px;
}

#left
{
    text-align: right;
    width: 50%;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#right
{
    text-align: left;
    width: 50%;
    padding-left: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
}

#submitButton
{
    width: 20em;
    height: 7em;
    position: absolute;
    left: 40%;
    color:#08233e;
    font:1.5em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    padding:14px;
    background-color:rgba(255,204,0,1);
    border:1px solid #ffcc00;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border-bottom:1px solid #9f9f9f;
    -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    cursor:pointer;
}

#buttonWrapper
{
    text-align: center;
}

body
{
    background-color: FloralWhite;
}