#datasetDropDownList
{
    font-size: 30px;
    margin: 0 auto;    
}

#datasetDisplayTable
{
    width: 100%;
    height: 80%;
    border-collapse:collapse;
    padding: 15px;
    padding-top: 20px;
    background-color: FloralWhite;
    font-size: 24px;
    font:2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
}

.variableList
{
    border-collapse: collapse; 
    padding: 10px;
    background-color: DimGray;
    color: white;
    table-layout: fixed;
}

#left
{
    text-align: right;
    width: 40%;
}

#right
{
    text-align: left;
    width: 60%;
    overflow: hidden;
}

#submitButton
{
    position: absolute;
    left: 50%;
    color:#08233e;
    font:2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    font-size:100%;
    padding:14px;
    background-color:rgba(255,204,0,1);
    border:1px solid #ffcc00;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border-bottom:1px solid #9f9f9f;
    -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    cursor:pointer;
}

#buttonWrapper
{
    text-align: center;
}

body
{
    background-color: FloralWhite;
}