#datasetDropDownList
{
    font-size: 30px;
    margin: 0 auto;    
}

.labels
{
    font-size: 30px;
}

#datasetDisplayTable
{
    width: 100%;
    border-collapse:collapse;
    padding: 15px;
    background-color: "FloralWhite";
}

#left
{
    text-align: right;
}

#right
{
    text-align: left;
}