/* Add filters, color gradients; */
div.panel
{    
    background: grey;
}

#variable
{
    position: absolute;
    
    left: 0px;
    top: 0px;
    
    height: 576px;
    width: 256px;
}

#visualization
{
    position: absolute;
    
    left: 256px;
    top: 576px;
    
    height: 192px;
    width: 1024px;
    
    background: darkgrey;
}

rect.variableNameHolder
{
    fill: silver;
} 

rect.visualizationNameHolder
{   
    fill: silver;
} 


    
