.bins
{
    stroke: black;
}

.xAxisGrooves, .yAxisGrooves
{
    stroke: black;
}

.medians
{
    stroke: black;
}

.IQRs
{
    stroke: black;
    fill: lightgrey;
}

.topFringeConnectors,.bottomFringeConnectors
{
    stroke: grey;
}

.means
{
    fill: purple;    
}

.outliers
{
    fill: none;    
    stroke: red;
}

