.bins
{
    stroke: black;
}

.xAxisGrooves, .yAxisGrooves
{
    stroke: black;
}

#median.boxplot
{
    stroke: black;
}

#iqr.boxplot, #topFringe.boxplot, #bottomFringe.boxplot
{
    stroke: black;
}

#topFringeConnector.boxplot, #bottomFringeConnector.boxplot
{
    stroke: grey;
}

#mean.boxplot
{
    fill: purple;    
}

#outliers.boxplot
{
    fill: none;    
    stroke: red;
}

