export(getMeanAndMedian)
export(getIQR)
export(getCorrelationCoefficient)
export(getRSquared)
export(getLinearModelCoefficients)
export(getCI)
export(getQQPlotCoordinates)

export(performTTest)
export(performANOVA)
export(performFriedmanTest)
export(performKruskalTest)
export(performWilcoxonTest)
export(performHomoscedasticityTest)

export(applyTransform)

export(drawQQPlot)

export(getESFromF)
export(getESFromT)
export(getESFromChiSquared)
export(getESFromP)
export(getESFromRawMeanScores)

export(runThisRCode)
