export(getData)
export(getMeanAndMedian)
export(getIQR)
export(getCorrelationCoefficient)
export(getRSquared)
export(getLinearModelCoefficients)
export(getCI)
export(getQQPlotCoordinates)
export(getStandardError)

export(splitDataByColumnName)

export(performTTest)
export(performANOVA)
export(performTwoWayANOVA)
export(performWelchANOVA)
export(performFriedmanTest)
export(performKruskalWallisTest)
export(performWilcoxonTest)
export(performMannWhitneyTest)
export(performHomoscedasticityTest)
export(performShapiroWilkTest)

export(performTukeyHSD)

export(applyTransform)

export(drawQQPlot)

export(getESFromF)
export(getESFromT)
export(getDFromT)
export(getESFromChiSquared)
export(getESFromP)
export(getESFromRawMeanScores)

export(findTransform)

export(runThisRCode)

export(getVariableNames)
export(loadFile)